
   .admin-container{
       margin: 150px auto 0  auto;
       width: 500px;
   }

   .admin-container-title{
       text-align:center;
       color:white;
   }


   .login-container{
     margin: 15px auto;

     table{
       tbody {
         tr {
           &:hover td {
             background-color: #5498da;
           }
         }
       }
     }
   }
